/* Variables */

$parallels_color: #3B6F7C
$bp-small : 24em
$bp-med : 46.8em
$bp-large : 50em
$bp-xl : 73em

/* Font-face */

@font-face
	font-family: montserrat
	src: url('/static/fonts/Montserrat/Montserrat-Light.otf')
@font-face
	font-family: montserrat-light
	src: url('/static/fonts/Montserrat-UltraLight.otf')
@font-face
	font-family: dosis
	src: url('/static/fonts/Dosis-Regular.ttf')


/* Important Misc & Overrides ONLY */

body
	overflow-x: hidden

nav
	background: #fff !important
	border: none !important
	font-family: montserrat !important
	opacity: .8
	a
		color: $parallels_color !important
		font-size: 1.25em
		&:hover
			color: white !important
	&:hover:li
		background: $parallels_color !important

.navbar-nav
	position: relative
	left: 50%
	transform: translate(-50%, 0)
	li:nth-child(2)
		padding-right: 15px

/* Front page styles from top of page to bottom */


@mixin box
	height: 1000px
	font-family: montserrat-light
	position: relative

.box-white
	@include box
	background: white
	height: 1850px
	text-align: center
	.btn.btn-default
		background: transparent
		border: 1px solid $parallels_color
		&:hover
			background: $parallels_color
	.centered-text
		padding: 0 25px
		left: 50%
		transform: translate(-50%, 0) !important
	&:first-of-type
		background: url('/static/images/Up_Shadow.png')
		background-size: cover
		overflow: hidden
		text-align: left
		height: 1000px
		.centered-text
			top: 50% !important
			left: 0 !important
			transform: translate(0, -50%) !important
			h1
				margin-top: -100px
	h1
		top: 50%
	img
		height: 400px
		// @ md-lg height: 500px

.box-color
	@include box
	background: $parallels_color
	color: white
	height: 1500px
	img
		height: 300px
	.sml
		height: 300px
		margin-bottom: -100px
	.lrg
		height: 500px
		.centered-text
			padding: 0
			width: 75%
	h4
		text-align: justify

.box-image
	@include box
	background: url('/static/images/meeting.jpg')
	color: white
	background-size: cover
	overflow: hidden

.box-black
	@include box
	height: 1750px
	background: black
	color: white
	text-align: center
	span
		color: #00E7E7 //$parallels_color
	img
		height: 250px
	.centered-outside:first-of-type
		height: 400px
	.centered-outside:nth-of-type(2)
		height: 800px
	.centered-text:first-of-type
		top: 0
		transform: translate(0, 0)
	&:last-of-type
		img
			height: 75px
		.centered-text
			top: 50% !important
			transform: translate(0, -50%)
	.fullpage
		height: 100%
		width: 100%
		overflow: hidden
		background-size: cover
		background: black

.centered-outside
	height: 500px
	// @ md-lg height: 1000px
	position: relative
	.centered-text
		margin: 0
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		text-align: center
	.centered-image
		margin: 0
		padding: 0 25px
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)

.colored
	color: white
	background: $parallels_color
	border: 1px solid white
	padding: 15px 50px
	border-radius: 2.5px
	position: absolute
	left: 50%
	transform: translate(-50%, 0)
	a
		color: white

.image-btn
	color: white
	background: none
	border: 1px solid white
	padding: 15px 50px
	border-radius: 2.5px
	position: absolute
	left: 50%
	transform: translate(-50%, 0)

.btn.btn-default.image-btn:hover
	background: white
	color: $parallels_color

.btn.btn-default.colored:hover
	background: white
	border: 1px solid $parallels_color
	color: $parallels_color
	a
		color: $parallels_color

.btn-color
	color: $parallels_color
	padding: 15px 50px

.btn:hover
	border-radius: 5px
	border: 1px solid white
	color: white
	background: $parallels_color

.black-page-icon
	height: 450px !important

.black-page-text
	height: 750px !important

.title
	height: 200px	

.image-row
	height: 250px
	img
		height: 200px

.text-row
	height: 250px

.download
	height: 200px !important

.links
	height: 150px !important
	img
		height: 35px !important
		margin: 0 25px 0 15px

.socialmedia
	height: 150px !important
	img
		height: 50px !important

.disclaimer-container
	width: 900px

.disclaimer
	height: 600px !important
	margin-top: 50px
	p
		text-align: justify
		padding: 25px

/* Keyframes */

/* Media Queries */